<div class="create-wrapper">
  <p><a href="/#app/home">Home</a></p>
  <span>Username </span>
  <input id="username" type="text" [(ngModel)]="username"/>
  <span>First Name </span>
  <input id="firstName" type="text" [(ngModel)]="firstName"/>
  <span>Last Name </span>
  <input id="lastName" type="text" [(ngModel)]="lastName"/>
  <span>Email </span>
  <input id="email" type="text" [(ngModel)]="email"/>
  <span>Password </span>
  <input id="password" type="text" [(ngModel)]="password"/>
  <button (click)="onButtonClick()">Submit</button>
</div>
