<div class="create-wrapper">
  <p><a href="/#app/home">Home</a></p>
  <span>Company </span>
  <select [(ngModel)]="selectedCompanyId" name="company" (change)="onCompanyChange()">
    <option *ngFor="let company of companyList" [value]="company.companyId">{{ company.title }}</option>
  </select>
  <span>Folder </span>
  <select [(ngModel)]="folderId" name="company">
    <option *ngFor="let folder of folderList" [value]="folder.folderId">{{ folder.name }}</option>
  </select>
  <span>Name </span>
  <input id="name" type="text" [(ngModel)]="name"/>
  <button (click)="onButtonClick()">Submit</button>
</div>
