<div class="api-index-wrapper">
  <div class="grid-container">
    <p class="grid-item"><a href="/#app/UserType/create">Create User Type</a></p>
    <p class="grid-item"><a href="/#app/User/register">Register User</a></p>
    <p class="grid-item"><a href="/#app/Company/register">Register Company</a></p>
    <p class="grid-item"><a href="/#app/Folder/create">Create Folder</a></p>
    <p class="grid-item"><a href="/#app/Document/create">Create Document</a></p>
    <p class="grid-item"></p>
    <p class="grid-item"><a href="/#app/User/create">Create User as Admin</a></p>
    <p class="grid-item"><a href="/#app/Company/create">Create Company as Admin</a></p>
    <p class="grid-item"></p>
    <p class="grid-item"></p>
    <p class="grid-item"><a href="/#app/UserType/list">List User Types</a></p>
    <p class="grid-item"></p>
    <p class="grid-item"><a href="/#app/Company/listAll">List All Companies</a></p>
    <p class="grid-item"><a href="/#app/Folder/listCompanyFolders">List Company Folders</a></p>
    <p class="grid-item"><a href="/#app/Document/listFolderDocuments">List Folder Documents</a></p>
    <p class="grid-item"><a href="/#app/UserType/update">Update User Type</a></p>
    <p class="grid-item"><a href="/#app/User/list">List Users</a></p>
    <p class="grid-item"><a href="/#app/Company/listOwned">List Owned Companies</a></p>
    <p class="grid-item"><a href="/#app/Folder/listCompanyDeletedFolders">List Company Deleted Folders</a></p>
    <p class="grid-item"><a href="/#app/Document/listFolderDeletedDocuments">List Folder Deleted Documents</a></p>
    <p class="grid-item"><a href="/#app/UserType/delete">Delete User Type</a></p>
    <p class="grid-item"><a href="/#app/User/update">Update User</a></p>
    <p class="grid-item"><a href="/#app/Company/list">List User Enrolled Companies</a></p>
    <p class="grid-item"><a href="/#app/Folder/update">Update Folder</a></p>
    <p class="grid-item"><a href="/#app/Document/update">Update Document</a></p>
    <p class="grid-item"></p>
    <p class="grid-item"><a href="/#app/User/delete">Disable User</a></p>
    <p class="grid-item"><a href="/#app/Company/update">Update Company</a></p>
    <p class="grid-item"><a href="/#app/Folder/move">Move Folder</a></p>
    <p class="grid-item"><a href="/#app/Document/move">Move Document</a></p>
    <p class="grid-item"><a href="/#app/Tag/create">Create Tag</a></p>
    <p class="grid-item"></p>
    <p class="grid-item"><a href="/#app/Company/delete">Delete Company</a></p>
    <p class="grid-item"><a href="/#app/Folder/delete">Delete Folder</a></p>
    <p class="grid-item"><a href="/#app/Document/delete">Delete Document</a></p>
    <p class="grid-item"></p>
    <p class="grid-item"></p>
    <p class="grid-item"></p>
    <p class="grid-item"></p>
    <p class="grid-item"></p>
    <p class="grid-item"><a href="/#app/Tag/listAll">List All Tags</a></p>
    <p class="grid-item"><a href="/#app/TagAssociation/assignFolderTag">Assign Tag to a Folder</a></p>
    <p class="grid-item"></p>
    <p class="grid-item"><a href="/#app/UserCompany/create">Assign User to a Company</a></p>
    <p class="grid-item"><a href="/#app/Linkable/folderLink">Generate Folder Link</a></p>
    <p class="grid-item"><a href="/#app/Tag/listCompanyTags">List Company Tags</a></p>
    <p class="grid-item"><a href="/#app/TagAssociation/assignDocumentTag">Assign Tag to a Document</a></p>
    <p class="grid-item"></p>
    <p class="grid-item"></p>
    <p class="grid-item"><a href="/#app/Linkable/documentLink">Generate Document Link</a></p>
    <p class="grid-item"><a href="/#app/Tag/listFolderTags">List Folder Tags</a></p>
    <p class="grid-item"><a href="/#app/TagAssociation/unassignFolderTag">Unassign Tag from a Folder</a></p>
    <p class="grid-item"></p>
    <p class="grid-item"><a href="/#app/UserCompany/list">List Company Employees</a></p>
    <p class="grid-item"><a href="/#app/Linkable/listFolderLinks">List Folder Links</a></p>
    <p class="grid-item"><a href="/#app/Tag/listDocumentTags">List Document Tags</a></p>
    <p class="grid-item"><a href="/#app/TagAssociation/unassignDocumentTag">Unassign from to a Document</a></p>
    <p class="grid-item"></p>
    <p class="grid-item"><a href="/#app/UserCompany/listUserRoles">List All Roles</a></p>
    <p class="grid-item"><a href="/#app/Linkable/listDocumentLinks">List Document Links</a></p>
    <p class="grid-item"><a href="/#app/Tag/update">Update Tag</a></p>
    <p class="grid-item"></p>
    <p class="grid-item"></p>
    <p class="grid-item"><a href="/#app/UserCompany/update">Update Role</a></p>
    <p class="grid-item"><a href="/#app/Linkable/download">Downlaod document</a></p>
    <p class="grid-item"><a href="/#app/Tag/delete">Delete Tag</a></p>
    <p class="grid-item"></p>
    <p class="grid-item"></p>
    <p class="grid-item"><a href="/#app/UserCompany/delete">Delete Role</a></p>
    <p class="grid-item"><a href="/#app/Linkable/listDocumentLinks">List Document Links</a></p>
  </div>
  <div>
    <p class="logout-link"><a href="/#logout">Logout</a></p>
  </div>

</div>
